extends layout

block content
  - var menu = ['事業内容', '会社概要', '採用情報', '最新情報（blog）', 'お問い合わせ']
  div#top
    div#header
      h1: a(href='.') SAMPLE TEMPLATE
      p ここにサブタイトルやサイトの説明文をお書きください。
    // /#header
    div#icatch: img(src='images/icatch.jpg', alt='')
    div#menu
      ul
        li: a.current(href='#') HOME
        for m in menu
          li: a(href='#')= m
    // /#menu
    div#contents
      div#main
        h2 制作者より
        p 前回ブログっぽいのテンプレートを公開しましたが、そのタイプでより商用利用できそうなデザインにしてみました。
        p 完全幅固定タイプです。全体的な横幅は800pxで、左右にそれぞれ10pxの余白を設けています。
        
        h2 プログレッシブ エンハンスメントという考え
        p ホームページは、どの環境のユーザでも不具合なく閲覧できる事が最も望ましい事です。しかし、ブラウザによって対応しているCSSやJavaScriptが異なっており、全てのブラウザで全く同じ動作をするということが非常に困難です。そのため、ハックなどを使い、古い技術でしかホームページを作るしかできませんでした。
        p しかしそれでは膨大な作業工程になってしまい、制作者は非常に負担が増えてしまいます。そこで、「プログレッシブ エンハンスメント」という考え方です。
        p 「プログレッシブ エンハンスメント」とは、
          em どのブラウザでも情報が欠けることなく参照できるが、最新のブラウザであればよりリッチに見ることが出来、古いブラウザでもデザイン的に劣っても情報が欠けること無く参照できるようにする
          | 、という考えです
        p つまりは、これまでの「全てのブラウザで全く同じに見えないといけない」という考えではなく、「必要な情報が提供できれば、ブラウザごとに見た目が変わってもよいじゃない」という考えです。
        p このCSSテンプレートでも実験的に「プログレッシブ エンハンスメント」を取り入れてみました。上部のメニューはブラウザによってカーソルを合わせたときに少し見た目が変わります。
        
        h3 画像について
        p 画像はCoolWebWindow作です。色の変更などの編集も可能です。ご自由にお使いください。
  
        h3 ページ上部への戻りリンクについて
        p ページ上部への戻りは、JavaScriptを用いて、なめらかにスクロールしながら移動するようにしております。
  
        h3 カスタマイズについて
        p カスタマイズはご自由になさってください。
          br
          | 制限はありません。
        p その他、不具合などございましたら
          br
          a(href='http://www.coolwebwindow.com/', target='_blank') CoolWebWindow
          | にお知らせください。
          br
  
        h2 サンプルタグについて
        p 以下、サンプルタグになります。ご利用の際は参考にしてみてください。
  
        h2 INFORMATION
        dl.information
          dt: span 2009-04-28
          dd: div ＯＯ新聞に取材を受けました
            br
          dt: span 2009-04-24
          dd: div 休業のお知らせ。誠に勝手ながら5月2日から6日まで長期休暇日とさせていただきます。ご了承ください。
  
        h2 タグサンプル
        h3 h3タグ
        h4 h4タグ
        h5 h5タグ
        h6 h6タグ
  
        p
          em 強調（em）
          strong より強い強調（strong）
          ins 追加（ins）
          del 削除（del）
          br
          a(href='#') テキストアンカー
  
        h3 リスト
        h4 普通のリスト
        ul
          for n in [1, 2, 3]
            li 普通のリスト#{n}
        
        h4 番号付きリスト
        ol
          for n in [1, 2, 3]
            li 番号付きリスト#{n}
              if n == 3
                br
                | li要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。
                br

        h4 定義リスト
        dl
          for n in [1, 2, 3]
            dt 定義リスト#{n}
            dd 定義した用語の説明
              if n == 3
                br
                | dd要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。しかし、dt要素にはインライン要素しか記述することができません。
  
        h3 テーブル
        table(summary='')
          tr
            for n in [1, 2, 3, 4, 5]
              th 見出し#{n}
          for n in [1, 2, 3]
            tr
              for n in [1, 2, 3, 4, 5]
                td セル#{n}
      // /#main
      div#sub   
        for n in [1, 2]
          h2 見出し
          p ここにテキストなどをお書きください。ここにテキストなどをお書きください。
        
        h2 リスト
        - var list = [ '資料請求', 'よくあるご質問', 'お問い合わせ' ]
        ul
          for li in list
            li: a(href='#')= li
      // /#sub
    // /#contents
    div#pageTop: a(href='#top') ページのトップへ戻る
    div#footMenu
      ul
        for m in menu
          li: a(href='.')= m
        li: a(href='.') プライバシーポリシー
  
    div#footer: div.copyright Copyright &copy; 2011 YOUR SITE NAME All Rights Reserved.
  // /#top

